//babel配置文件，不需要做修改，因为都配置好了
{
    "presets": [
      [
        //配置为latest的时候热更新不起作用
        "env",
        {
          "modules": false
        }
      ],
      "stage-0",
      "react",
      "stage-1",
      "stage-2",
      "stage-3"
    ]
  }